# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
instance/